.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div {
  width: 98%;
  margin: auto
}

textarea {
  width: 100%;
  height: fit-content;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 3px;
  box-sizing: border-box;
}

textarea.interaction,
textarea.option_text {
  width: 100%;
  height: fit-content;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 100%;

}

td {
  padding: 3px;
  border: 1px solid black;
}

td.reasoning,
td.rating {
  width: 100%;
  height: fit-content;
  padding: 0px;
  border: 1px;
  margin: 1px;
  border-bottom: 3px solid rgb(137, 135, 147);

  border-collapse: collapse;


}


tr.individual_option_row {
  border-collapse: collapse;
}

textarea.reasoning,
select.rating {
  width: 100%;
  height: fit-content;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical
}


table {
  border-collapse: collapse;
  width: 100%;
}

tr.reasoning {
  border-collapse: separate;
}

.logs {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-spacing: 0px;

}

.table-header {
  font-weight: bold;
}

.dataset_log_buttons_td {
  width: 100%;
  text-align: right;
  border: 0px;
}

.setting {
  width: 30%;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 10x;
  display: flex;
  padding: 10px
}

input[type="radio"] {

  width: auto;
}

input[type="checkbox"] {
  width: 10%;
}

label {
  float: left;
  margin-left: 2px;
  margin-right: 10px;
}


.settings_bar {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  vertical-align: middle;
  border-bottom: #ccc 1px solid;
  align-items: center;
}

input[type="number"] {
  width: 100%;
  text-align: center;
  padding: 1px;
}

.options_log {
  width: 100%;
  margin: 0px;
  vertical-align: middle;
  padding: 0px
}

.dataset_log_options_td {
  padding: 3px;
  text-align: left;
}

td.interaction {
  width: 60%
}

.logprob_td,
.author_td,
.index_td {
  text-align: center;
  padding: 3px;
  border: 0px;
}

.engine_label {
  margin-right: 10px;
  display: inline;
}

.author_edit {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.index_td {
  width: 0.4cm;
}

.logprob_td {
  width: 0.8cm;
}

td.option_text {
  padding: 0px;
  border: 0px;
  margin: 0px;
  border-collapse: collapse;
  text-align: left;

}

.prompt_td {
  padding: 5px;
  text-align: left;
}

.prompt_textarea {
  width: 100%;
  max-height: 30cm;
  min-height: 10cm;

}