.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div {
  width: 98%;
  margin: auto
}

textarea {
  width: 100%;
  height: fit-content;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

input {
  width: 100%;

}

td {
  padding: 10px;
  border: 1px solid black;



}

table {
  border-collapse: separate;
  width: 100%;
}

.logs {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-spacing: 0px;

}

.table-header {
  font-weight: bold;
}

.setting {
  width: 90%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.settings_bar {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  vertical-align: middle;
}

input[type="number"] {
  width: 40px;
  text-align: center;
  margin-right: 10px;
}

.options_log {
  width: 100%;
  margin: 0px;
  vertical-align: middle;
  padding: 0px
}

.dataset_log_options_td {
  padding: 3px;
}


.logprob_td,
.index_td {
  text-align: center;
  padding: 3px;
  border: 0px;
}

.index_td {
  width: 0.4cm;
}

.logprob_td {
  width: 0.8cm;
}

.individual_option_row {
  text-align: left;
  border-collapse: collapse;
}

.option_text_td {
  padding: 3px;
  border: 0px;
}